@font-face {
  font-family: 'Napa';
  src: url('../assets/font/GT-America-Napa-Bold.woff2') format('woff2'),
    url('../assets/font/GT-America-Napa-Bold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Rift';
  src: url('../assets/font/Rift-Bold.woff2') format('woff2'),
    url('../assets/font/Rift-Bold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Napa';
  src: url('../assets/font/GT-America-Napa-Regular.woff2') format('woff2'),
    url('../assets/font/GT-America-Napa-Regular.woff') format('woff');
  font-display: swap;
}

.napa {
  font-family: 'Rift';
  font-weight: bold;
}

.rift {
  font-family: 'Rift';
  font-weight: bold;
}

html[data-napa='true'] {
  .el-text,
  .window-wrapper:not(.screen-lang-pref) {
    font-family: 'Rift';
    font-weight: bold;
  }
  .MuiTooltip-tooltip span {
    font-family: 'Napa';
  }
}

.napa {
  font-family: 'Napa';
  font-weight: bold;
}

.napa-normal {
  font-family: 'napa';
}

.emoji {
  font-weight: normal !important;
}
